.wrapper {
	min-height: 100dvh;
	display: grid;
	place-content: center;
	background-size: cover;
	animation: fadeIn 1s ease-in-out;
}

.container {
	max-width: 768px;
	padding: 0 1.25em;
	margin: 0 auto;
	text-shadow: 1.3px 1.3px 0.5px white;
	display: flex;
	flex-direction: column;
	gap: 2.5em;
	transition-duration: opacity 0.5 ease-in-out;
	opacity: 1;
}

.title {
	font-size: 38px;
	text-align: center;
	color: whitesmoke;
	text-shadow: 4px 4px 2px black;
	margin: 0;
	transition: transform 0.3s ease
}
.title:hover{
	transform: scale(1.05);
}
@media (min-width: 768px) {
	.title {
		font-size: 58px;
	}
}
.card {
	max-width: 600px;
	height: 250px;
	background-image: url('/rectangle1.svg');
	background-repeat: no-repeat;
	background-size: cover;

	display: grid;
	place-content: center;
	background-position: center;
	transition: transform 0.3s ease;
}
@media (min-width: 768px) {
	.card {
		background-size: contain;
	}
}
.card__body {
	padding: 0;
}
.card__phrases {
	font-size: 18px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: rgb(59, 64, 68);
	padding: 0 2.5em;
	margin: 0 auto;
	text-align: justify;
	line-height: 1.6;
}
.card__btn {
	width: fit-content;
	font-size: 15px;
	margin: 0 auto;
	padding: 0.75em 2em;
	background-color: rgba(245, 245, 245, 0.399);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border: 2px solid white;
	border-radius: 12px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	transition: transfomr 0.3s ease;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
	
}
.card:hover{
	transform: scale(1.05);
}

/* es para darle una animacion minima cuando el usuario acerca el cursor al boton */
.card__btn:hover {
	background-color: rgba(255, 255, 255, 0.718);
	color: rgb(0, 0, 0);
	border-color: rgba(40, 0, 0, 0.715);
	scale: 1.05;
}
